@import '~@angular/material/theming';

@include mat-core();

$my-theme-primary: mat-palette($mat-indigo, 50);
$my-theme-accent: mat-palette($mat-green, A700);
$my-theme-warn: mat-palette($mat-red);

$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

@function my-mat-light-theme-background($color) {
  @return (
    status-bar: map_get($mat-grey, 300),
    app-bar:    map_get($mat-grey, 100),
    background: map_get($mat-grey, 50),
    hover:      rgba(black, 0.04),
    card:       white,
    dialog:     transparent,
    disabled-button: rgba(black, 0.12),
    raised-button: white,
    focused-button: $dark-focused,
    selected-button: map_get($mat-grey, 300),
    selected-disabled-button: map_get($mat-grey, 400),
    disabled-button-toggle: map_get($mat-grey, 200),
    unselected-chip: map_get($mat-grey, 300),
    disabled-list-option: map_get($mat-grey, 200),
  );
};

@function my-mat-light-theme-foreground($color) {
  @return (
    base:              white,
    divider:           $light-dividers,
    dividers:          $light-dividers,
    disabled:          $light-disabled-text,
    disabled-button:   rgba(white, 0.3),
    disabled-text:     $light-disabled-text,
    elevation:         transparent,
    hint-text:         $light-disabled-text,
    secondary-text:    $light-secondary-text,
    icon:              white,
    icons:             white,
    text:              white,
    slider-min:        white,
    slider-off:        rgba(white, 0.3),
    slider-off-active: rgba(white, 0.3),
  );
};

$my-foreground: my-mat-light-theme-foreground(mat-color($my-theme-primary, 700));

$my-background: my-mat-light-theme-background(mat-color($my-theme-primary, 700));

$my-app-theme-foreground: map-merge($my-theme, (foreground: $my-foreground));

$my-app-theme: map-merge($my-app-theme-foreground, (background: $my-background));

@include angular-material-theme($my-app-theme);
